[2015-07-19 21:53] pfefferle opened #12 "Add "Microformats2" theme support check"
Add a check if theme supports Microformats2 (https://github.com/pfefferle/SemPress/blob/master/sempress/functions.php#L101) to enable/disable the plugin. Perhaps we have to rewrite the plugin a bit for that use case.

[2015-07-19 21:57] dshanske commented on #12
Considering the functionality of TGM, which is used for themes as well as plugins, we could have functions that could be called by a theme, and enabled if the theme doesn't support it.

[2015-07-19 21:58] dshanske opened #13 "Update Avatar Code"
Avatar code can use new filters put in after last update. These are present in Semantic Linkbacks.

[2015-07-19 22:32] pfefferle commented on #12
@dshanske What do you think about my quick rewrite?

[2015-07-19 23:40] dshanske commented on #12
Much cleaner. Will need to pull a copy down.

[2015-07-21 11:53] #12 closed

[2015-08-03 13:48] dshanske opened #14 "hentry"
Many themes use hentry for styling. Don't think we can take it out without messing things up.

[2015-08-03 22:50] peterwilsoncc commented on #14
I would agree. uf2 would need to be in addition to any built in microformats.

Officially Google doesn't support uf2 so the duel markup will help there too.

[2016-05-20 18:08] chrisaldrich opened #15 "Theme display issue with Twenty Fourteen"
I'm not currently using it, so it's not a priority (and it may not be uf2s fault based on my brief tests), but so everyone is aware, I'll mention that when using the standard WP Twenty Fourteen theme in conjunction with uf2, the display of the site is thrown out of whack and it only displays the left column and compacts the main content area into ~300px rather than the full ~900px.  For those fami

[2016-05-20 18:26] dshanske commented on #15
It is the fact that the theme styles hentry

[2016-05-20 18:42] chrisaldrich commented on #15
<a href="http://stream.boffosocko.com/2016/theme-display-issue-with-twenty-fourteen-issue-15-pfefferlewordpress-uf2-im" class="u-in-reply-to"></a><a href="http://stream.boffosocko.com/2016/wordpress-support-twenty-fourteen-display-error-id-mentioned-this-error" class="u-in-reply-to"></a><a href="https://github.com/pfefferle/wordpress-uf2/issues/15" class="u-in-reply-to"></a>Thanks @dshanske, I fig

[2016-05-20 18:47] #15 closed

[2016-06-02 06:47] pfefferle commented on #14
I am not actively using this plugin, so feel free to submit a merge request.

[2016-06-02 06:49] pfefferle commented on #14
but changing it, will disable the `p-comment` cascading of microformats2

[2016-06-02 06:53] pfefferle opened #16 "move to Microformats repo"
@snarfed @dshanske @willnorris @peterwilsoncc What do you think about moving this plugin to the microformats repo and push it to the WordPress directory, to (perhaps) address a larger (developer) audience?

/cc @tantek

[2016-06-02 15:06] tantek commented on #16
Might even make more sense in the indieweb repo: https://github.com/indieweb/ since it's something people should install to help make their WordPress site more IndieWeb friendly.

[2016-06-02 15:11] dshanske commented on #16
I think the Indieweb one would make sense. But it does need an update and some minor tweaks. Currently, for example, if hentry is styled on a theme(which it shouldn't be, but), it messes that up. It needs an appropriate warning in that regard...possibility some compatibility settings to allow it to be more/less aggressive.

[2016-06-02 15:12] dshanske commented on #16
And I am in favor of pushing it to .org after that.

[2016-08-02 21:42] chrisaldrich opened #17 "h-entry is currently on body instead of <article>"
See discussion at https://github.com/snarfed/bridgy/issues/691 for details

[2016-08-03 01:05] dshanske commented on #17
As far as I can tell, there is nothing inherently wrong with it being on body, depending on the structure of the page

[2016-08-03 03:35] chrisaldrich commented on #17
<a href="https://github.com/pfefferle/wordpress-uf2/issues/17#issuecomment-237100712" class="u-in-reply-to"></a>You're probably correct and it generally won't cause too many issues. Except for when I figure out how to break things in new and creative ways... ;)

But for most themes, it also means that there's a lot of additional cruft that could accidentally be sucked in by parsers: header images,

[2016-08-03 04:11] dshanske commented on #17
I would say, the best argument so far is that WordPress puts hentry on post_class, and to ensure consistency, h-entry should always be on post_class, not in body_class.

[2016-09-14 15:34] pfefferle commented on #17
With `h-entry` and `hentry` on the `post_class` you limit the flexibility of the plugin. You will not be able to do something as reply-context or similar things, that have to be inside the `h-card` container.

[2017-02-17 19:03] voxpelli commented on #17
To avoid both the mf1 and the mf2 entries to be parsed the two classes should be on the same tag. The microformats 2 parsing algorithm then dictates that the mf2 class will replace the mf1 class: http://microformats.org/wiki/microformats2-parsing#parse_an_element_for_class_microformats

So always applying the mf2 `h-*` class to its mf1 equivalent is needed if one wants to replace the mf1 equivalen

[2017-02-17 19:06] voxpelli commented on #14
+1, the `h-entry` should instead preferably be added to the `hentry` if possible, see #17. That may cause other issues, make it hard for other data to be included in the `h-entry`, but avoid the `hentry` from being parsed while still having it on the page.

[2017-02-17 20:40] dshanske commented on #17
But they can't if it applies hentry improperly.

[2017-02-17 21:06] voxpelli commented on #17
@dshanske My impression is that they don't apply it improperly, but rather sub-optimally? So that a better markup with more features can be had if the `h-entry` is added elsewhere, but that maximum compatibility can be achieved if it's added in the same place so that the `hentry` doesn't need to be removed. Or am I missing something? To me it looks like the existing `hentry` is valid, just outdate

[2017-02-17 21:07] dshanske commented on #17
My proposal was that we add a theme support flag to address.

[2017-02-17 21:10] voxpelli commented on #17
I was thinking maybe a plugin option, if one wants to support both a compatibility mode and a feature rich mode, and have the module scale down or up accordingly.

[2017-02-17 21:18] pfefferle commented on #17
no, the problem is, that I add both, the `h-entry` and the `hentry`, to the body instead of the article, to be more flexible with other IndieWeb techs, like reply-context. But moving the hentry to the body element breaks some themes.

[2017-02-17 21:21] pfefferle commented on #17
I like the idea to make that feature configurable via a filter and/or const...

[2017-05-16 16:02] dshanske opened #18 "Remove h-as properties as not consumed"
Either optionally or entirely. These never caught on.

[2017-05-20 15:36] dshanske commented on #16
@pfefferle Can you arrange for this to be transferred to the Indieweb repo and we'll set up the review changes options set up on the other Indieweb projects?

[2017-06-17 18:10] miklb commented on #16
I second @dshanske request to move.

[2017-06-17 19:37] miklb opened #19 "Propose Name Change"
Would it be considered to change the name of the plugin to something beginner friendly?

Something along the lines of mf2 theme helper rather than just uf2?

I realize this was created several years ago, and perhaps uf2 was more popular in shorthand for microformats2, but seems mf2 is more widely used now and adding "theme helper" or something similar would give more context to what it does.

[2017-06-17 19:56] pfefferle commented on #19
I would not rename the classes but I also support a name change for the readme https://github.com/pfefferle/wordpress-uf2/commit/71a9cbac1be73244f2b3ba70b0d0f7dc4244e07b#commitcomment-22605242

[2017-06-19 01:03] #18 closed

[2017-06-19 01:03] #13 closed

[2017-06-19 11:40] pfefferle opened #21 "consistent naming"
We should be more consistent with the title... sometimes it is `microformats2`, sometimes it is `Microformats 2` and sometime it is `microformats v2`.

I would prefer `Microformats 2`...

We then have to rename the files, because WordPress uses the plugin name (used in the main plugin file) for the repo and for the slug.

[2017-06-19 11:43] pfefferle opened #22 "WP.org version"
I submitted the actual version to the WP.org repo because the process can take a while. There are currently 444 plugins in the cue. The WP.org repo is using the name of the plugin as slug, so we might rename some files: https://github.com/indieweb/wordpress-uf2/issues/21

[2017-06-19 11:47] dshanske commented on #21
That is fine. So, the slug will be microformats2, and the name will be Microformats 2 ? I want to add detail to the README anyway.

[2017-06-19 11:56] pfefferle commented on #21
i think it is `microformats-2` but I will re-check...

[2017-06-19 12:00] dshanske commented on #21
I sent a PR. You can modify

[2017-06-21 06:31] pfefferle commented on #21
ok, now it's neither `uf2` nor `microformats-2`... the slug is now `wp-uf2`... don't ask...

[2017-06-21 08:56] pfefferle commented on #22
WP.org repo is generated https://wordpress.org/plugins/wp-uf2/

I will add the 1.0.0 version if my PR is merged: https://github.com/indieweb/wordpress-uf2/pull/24

[2017-06-22 08:56] #21 closed

[2017-06-22 08:56] pfefferle commented on #19
@miklb is this OK for you?

[2017-06-22 09:56] miklb commented on #19
ah, yes.

[2017-06-22 09:56] #19 closed

[2017-06-23 05:42] miklb commented on #22
@pfefferle what needs to be done now?

[2017-06-23 06:58] pfefferle commented on #22
there are still some glitches... merge request coming... perhaps you also can have a final look!

[2017-06-23 16:19] miklb commented on #22
done! Hopefully we can get this in the repo for this weekend, and add it to IndieWeb plugin as well.

[2017-06-24 04:04] dshanske commented on #22
Resolved now

[2017-06-24 04:04] #22 closed

[2017-06-25 21:00] kraftbj opened #28 "Genesis theme support"
Instead of having an extra plugin to use the Genesis theme framework's hooks/actions to add microformat, we could add some of the speciality things here.

What do y'all think of that?

[2017-06-26 05:06] pfefferle commented on #28
what do you mean by "extra plugin"? genesis support is already part of the uf2 plugin.

[2017-06-26 16:53] miklb opened #29 "Merge with IndieWeb plugin."
I know just moved this to the indieweb repo and added to the wp.org repo, but since this plugin can co-exist with themes, what would be the harm in merging the two?

That way, as soon as you activate the IndieWeb WordPress plugin you have basic mf2 support, and one less step.

That may though be part of the discussion as to having the IW plugin auto-activating several plugins, in which case this p

[2017-06-26 18:49] pfefferle commented on #29
I like the last paragraph, but I do not know how difficult this is.

To your main question: I have a strong opinion on this topic. I take the 3. and 4. topic of the IndieWeb principles very serious:

1. Build tools for yourself, not for all of your friends.
2. Eat your own dogfood.

I have very little spare time, so I concentrate on plugins, that fits my needs and I try to ignore things I do not n

[2017-06-26 19:38] miklb commented on #29
I appreciate your stand for dogfooding and guiding tools for yourself. I also think IndieWeb is reaching a tipping point for gen 2 & 3 users, and WordPress is one of the more logical places for those users to migrate to, thus the idea that it is time to start looking at ways to help in that regard.

It is obvious that the WordPress IndieWeb plugins aren't going to be merged into one monolithic plu

[2017-06-27 00:54] miklb commented on #29
So another idea that came to me this evening. A whole new plugin, IndiePack if you will, that is that one click install all the things for someone who wants that and leave the IndieWeb plugin as is with an a la carte install option. Would just be a matter of making sure the two plugins spell out what they offer, link to each other, push the IndiePack to new users. The data stored as `mf2_*` is sti

[2017-06-27 01:17] snarfed commented on #29
@miklb glad to have you thinking and working on WordPress IndieWeb!

we've consistently had new WordPress users confused by the number of plugins and which ones they need. this was a big discussion topic at IWS2017 among @dshanske, @scottjenson, @cleverdevil, and more. they're definitely thinking along the same lines: make the bundle plugin one-click install and more like a wizard.

I'd strongly e

[2017-06-27 01:22] miklb commented on #29
@snarfed I only proposed a new plugin as to take @pfefferle feedback into mind. I have as separate [issue open on the IndieWeb plugin](https://github.com/indieweb/wordpress-indieweb/issues/68), just seems the discussion clustered here.

I haven't put the time and energy into the plugins he and @dshanske have, and respect the idea that the plugins were bore out of dogfooding and scratching itches.

[2017-06-27 02:05] chrisaldrich commented on #29
<a href="https://github.com/indieweb/wordpress-uf2/issues/29#issuecomment-311222003" class="u-in-reply-to"></a>Using the JetPack "model" is a reasonable thought, though in this case the sub-plugins have a more cohesive bent rather than 20 things that have almost nothing to do with each other. Being able to leave the plugins as separate, stand-alone pieces (which can have the ability to inter-opera

[2017-06-27 04:23] miklb commented on #29
I wonder then if those basic items in the IndieWeb plugin could be moved into the uf2 plugin. It's mostly `rel=me` tags and h-card right? That would fit into the scope of the plugin I think.

Then the IndieWeb plugin could purely be a on-boarding/bundling/auto-activating plugin for the gen2+ user.

[2017-06-27 07:04] pfefferle commented on #29
hey miklb, as @snarfed already said, thanks a lot for beeing so active in the last days!

Sorry for maybe sounding a bit pessimistic, but I started the IndieWeb plugin for over 3 years ago and we tried a lot since then. One of the first ideas was to use a jetpack like style: https://github.com/indieweb/wordpress-indieweb/tree/94b5296a55cfce92eade18ca0725c76207cd7b58

The tagline even said

The pro

[2017-06-27 13:48] miklb commented on #29
Then my proposition is this:

- close this issue as `wontfix`
- create a milestone for 2.0 for the IW plugin
- begin moving the parts out of the IW plugin and merging them into the MF2 plugin
- Release a 2.0 of the IW plugin that is purely a guided installer.

I am in this for the long haul and will take on the responsibility of overseeing the upkeep of the 10+ plugins being up-to-date in the IW p

[2017-06-27 14:06] dshanske commented on #29
I am suggesting we table the issue of moving the identity parts out of the Indieweb plugin until we have the guided installer and/or other install enhancements. Let's see about enhancing the installer class we adopted(we can also submit our enhancements upstream separately), and then move from there.

[2017-06-27 14:09] miklb commented on #29
why are they mutually exclusive? Work can be done in separate branches on both plugins.

[2017-06-27 14:38] dshanske opened #30 "Microformats 2 Rendering"
@snarfed, @pfefferle and I were discussing the problem of various plugin interoperability in https://github.com/pfefferle/SemPress/issues/51

It occurred to me, if we are going to set this up, this repo is probably the better place to keep the discussion and possibly any functionality or such we want to support it.

Right now, Micropub takes over rendering if add_theme_support( 'microformats2' ) i

[2017-06-27 14:46] dshanske commented on #29
I am just saying that I would like to see some of the usability enhancements before we remove anything

[2017-06-27 14:55] pfefferle commented on #30
thanks for summing this up!

[2017-06-27 14:59] snarfed commented on #30
hey, great! happy to talk wherever. and expanding to also include wordpress element markup sounds fine too.

i do still think we need to support priority, though. the micropub plugin, for example, needs to be able to render all mf2 properties that it handles, but it also should defer to any other feature-specific plugin that handles an individual mf2 property, since those plugins will generally be

[2017-06-27 15:29] dshanske commented on #30
@snarfed That's why I suggested this repo as the 'canonical' place for any microformats2 in wordpress discussion. The lack of single place to discuss things.

This is really where plugin dependencies would help a great deal, but saying that doesn't help with this. But why can't SemPress users, Micropub users, and Post Kinds users be encouraged to install this plugin, especially if it doesn't activ

[2017-06-27 15:43] pfefferle commented on #30
My idea:

I agree with @snarfed, every plugin should handle it's properties, the best it can.

The main other authority for the rendering is the theme, so I would start defining the `add_theme_support( 'microformats2-rendering', array( 'mf2_photo', 'mf2_name' ) );` discussed here: https://github.com/pfefferle/SemPress/issues/51#issuecomment-303132817

If a plugin like indie-post-kinds want to over

[2017-06-27 15:45] dshanske commented on #30
I might not want to. @snarfed's rendering could be nicer than mine.

Why 'mf2_photo' as opposed to 'photo' ?

[2017-06-27 15:48] pfefferle commented on #30
If the theme is the only authority it is even better.

The syntax of the theme support was only a first shot, I would highly recommend to discuss and change the feature flags!

[2017-06-27 15:51] dshanske commented on #30
The theme being the top authority makes sense...as long as the theme knows how to do something. If it doesn't, it needs to fall back on something.

[2017-06-27 15:53] pfefferle commented on #30
sure, and that can be handled with more granular theme support flags.

[2017-06-27 15:58] dshanske commented on #30
So, 'microformats2' as a theme_supports flag will have arguments for WordPress properties..For example, author, content, etc.

'microformats2_rendering' would have arguments for properties that don't directly map to WordPress properties? Or do we want to combine them into one single microformats2 flag with the differences set in properties?

We still, either way, end up with collision.

[2017-06-27 16:01] pfefferle commented on #30
exactly. i would use `microformats2` (because of its adoption) for both

[2017-06-27 16:03] dshanske commented on #30
Then prefixing the mf2 properties with mf2_ makes sense, I suppose.

[2017-06-27 16:07] pfefferle commented on #30
ah, now I know why I proposed a new rendering flag... Let me think about that... perhaps we should create a section on the wiki, where we collect the different ideas and where we can define the flags. I hope @snarfed is ok with this too.

[2017-06-27 16:08] dshanske commented on #30
Why not have all possible plugins register support, and have the user specify their priority for applying them if both have support for that property? For example, both Post Kinds and Micropub register they support rendering checkins. The user specifies in configuration that they'd prefer rendering in the event of both?

[2017-06-27 16:09] miklb commented on #30
-1 to putting the onus on the user to specify priority. They aren't going to want that responsibility, they just want an integrated experience. Just sounds like opening up a bad UX with a ton of options and configurations.

[2017-06-27 16:11] dshanske commented on #30
I'm suggesting 1 option...who has priority. Not on a per property basis.

[2017-06-27 16:13] dshanske commented on #30
We can call it, "Specify Default Rendering Plugin." or such. Rather than saying that each plugin sets a priority on a per property basis. It seems like that is too many low level settings.

[2017-06-27 16:14] dshanske commented on #30
https://indieweb.org/WordPress/Data - Is where we've put this stuff on the wiki before. I'll go garden a bit.

[2017-06-27 16:24] miklb commented on #30
Playing devil's advocate, a user is going to ask why would I need to specify default rendering? We already hear routinely "why not just one plugin". Requiring a user to specify even once what plugin gets priority is just going to exacerbate that.

[2017-06-27 16:25] dshanske commented on #30
Then we're right back at, why not spin rendering out of all plugins into its own?

[2017-06-27 16:27] miklb commented on #30
I don't begin to have an answer to the how, and as I stated in chat, it's a hard problem you are trying to solve with multiple plugins. But one worth tackling. I'm just trying to provide some perspective from user stand point based on feed back I seen and read.

[2017-06-27 17:06] pfefferle commented on #30
But that is what I meant... the main renderer is the plugin itself but it can be disabled by the theme... of a plugin thinks it's a better renderer it should handle it individually using hooks and actions...

[2017-06-27 17:08] pfefferle commented on #30
do we have cases where a plugin uses data from an other plugin?

[2017-06-27 17:38] dshanske commented on #30
Yes, Post Kinds uses any data stored in mf2_ whether it stored it or not. Micropub also stores there. But as I documented, there are some issues.

[2017-06-27 19:10] pfefferle commented on #30
I mentioned it in a comment above and you wrote it isn't correct:

ok, but this can be done individually, like we do with webmentions and semantic linkbacks https://github.com/pfefferle/wordpress-semantic-linkbacks/blob/master/semantic-linkbacks.php#L52 or am I wrong?

[2017-06-27 19:12] dshanske commented on #30
It can. I just want to brainstorm all options before we adopt. It is harder to change later.

[2017-06-27 19:17] pfefferle commented on #30
ok, got you, but we shouldn't over engineer the feature on the other hand! plugins working really good together at the moment and we only have a problem to identify if a theme supports render features or not!

[2017-06-27 19:20] pfefferle commented on #30
... and we should fix that in time... at least before we start investing time in new `wp-uf2` features, because we currently only know if a plugin supports microformats2 or not and this might cause issues like with sempress and micropub.

[2017-06-27 21:51] cleverdevil commented on #29
Just chiming in, since I was really impacted by my experience at IWS 2017 helping people get set up with IndieWeb sites on WordPress. The individual plugins themselves are awesome achievements that enable some really great features and capabilities for users, but currently:

1. They are named with and described by technical terms and jargon. Gen 2/3 users will not know what Webmention, Semantic Li

[2017-06-27 21:56] snarfed commented on #30
hey @kraftbj, you've been interested in indieweb recently, any chance you could give us some expert guidance here? no good deed goes unpunished, and all that. :P

we're still discussing the exact goals, but broadly, we're trying to figure out how multiple plugins/themes should coordinate and decide, at post render time, which one renders a specific piece of mf2. here are some constraints:

* for e

[2017-06-27 22:08] kraftbj commented on #30
That's a dilly of a pickle. I would venture that this is something that's ripe for a filter--it already has the built-in priority system.

With both issues, it requires buy-in from other plugin/theme authors to use a common format/scheme. I think the filter is more akin to WordPress thinking. Let me read through this issue, the core ticket that was attempted for mf2 support, etc with more thought

[2017-06-27 22:19] snarfed commented on #30
another thought: is there any way to get the full list of callbacks registered for a given filter, along with their priority? if so, we could use that and just call the first one. (kind of goes against the philosophy, i know, but still.)

i didn't find anything like that in the docs, so i'm guessing not, but figured it was worth checking.

[2017-06-27 22:29] dshanske commented on #30
https://developer.wordpress.org/reference/functions/has_filter is all I see

[2017-06-27 22:43] miklb commented on #29
So I went ahead and checked with the plugin review team to make sure I knew what can & can't be done in regards to plugins requiring other plugins.

Short answer, you can't.

You can recommend and walk a user through installing the plugins, but you can not auto-install & activate other plugins, even if you explicitly tell the user "hey, if you install and activate this plugin, it will install & ac

[2017-06-28 06:55] pfefferle commented on #30
The problem with filters/actions is: As a theme developer I would not want to disable a lot of filters to remove micropub or indie post kinds rendering, because I never know which plugin might highjack the rendering.

[2017-06-28 14:25] kraftbj commented on #30
We *could* get the list of filters with access the `$wp_filter` global directly. IIRC, `$wp_filter['hook_name']` has an array of all of the callbacks. That said, I'm hesitant to suggest that. It would make it a real pain for other developers debugging since that's really atypical, Core doesn't want folks poking around the global, and could have breakage if Core changes the structure (which they wo

[2017-06-28 16:03] cleverdevil commented on #29
@miklb that's a shame!

I understand why this is the case, but it does present an obstacle. If the wizard itself can *install* other plugins on its own in response to the user allowing it, I think it'll be fine. As the user toggles the features / capabilities that they're interested in ("Support for rich comments and interactions from other websites," "Post likes, bookmarks, recipes, and more"), t

[2017-06-28 16:16] miklb commented on #29
@cleverdevil correct, the user can click a button to install the plugin(s), but the plugin can not install without that user interaction.

To be clear, that is a rule for the wp.org repo. A plugin could be served from GitHub or somewhere else that a user could upload (either via SFTP or the admin interface) that could auto-install a bundle and then walk a user through other suggested plugins and c

[2017-06-28 19:23] pfefferle commented on #30
@kraftbj thanks for the long answer and thanks for sharing the jetpack example and I like how jetpack works together with other plugins.

For themes I see it a bit different. I don't think we should recommend plugins in themes, that is what the IndieWeb plugin is for. If someone wants to enable IndieWeb tech he would start with the plugin I think. If we do it on several level, the user distraction

[2017-06-28 20:20] kraftbj commented on #30
I would phrase it different. The theme is responsible for the presentation of the data. The output of the data itself is between Core, plugins, and themes. Microformats is a kinda bit between worlds. Ideally, though, if more theme devs can get on board with Indie ideas, we hopefully would have people find themes first, then the plugin later. Genesis added Schema.org, which is how some people disco

[2017-06-28 20:32] kraftbj commented on #29
One difficulty of multiple plugins is, for whatever reason, if someone updates one plugin, but not another, but Plugin A expects something from a newer version of Plugin B. It's possible with version checks and whatnot, but can lead to some odd user experiences.

I think a lot of it depends on philosophy. Does Indieweb want a nice package that someone can just use to get the benefits (or a foundat

[2017-06-28 20:54] cleverdevil commented on #29
You captured my sentiments exactly @kraftbj.

[2017-06-28 20:54] pfefferle commented on #30
OK, but if a theme is not developed with IndieWeb principles in mind, they would not suggest the IndieWeb plugin either... if they are, it is not that difficult to directly integrate MF2 support...

I would also vote against:

As I said, I see the theme as main authority for markup and it you have only one theme installed at a time. With plugins it is different, you could have several plugins that

[2017-06-28 20:59] pfefferle commented on #29
@kraftbj but you ignore Gen 1 users with this approach. How will you prevent Class collisions if some users install the single plugin together with the bundle? How will keep up with all the updates of all single plugins? How will you prevent collisions between different versions of self installed plugins that "overwrite" the bundled version?

[2017-06-28 21:01] pfefferle commented on #29
As I said some comments above... This was exactly how the first version looked like and we had a lot of work/problems with that approach...

[2017-06-28 21:21] snarfed commented on #29
background on "Gen 1": https://indieweb.org/generations

@pfefferle the indieweb wordpress world has been optimized for gen 1 for a while now, and as a result it's pretty inaccessible and hostile to gen 2 and below. worse, as @kraftbj demostrated it's even inaccessible to other gen 1 people who aren't us! i know you're not focused on gen 2+, but many of the rest of us are. if we can make it more a

[2017-06-28 21:27] pfefferle commented on #29
@snarfed your words in gods ear!

Regarding your Webmention/Semantic Linkbacks concerns... They are two plugins, because I hoped the Webmention part will be moving into core some times in the far future... I suspect, that the whole mf2 parsing stuff will not be "stable" any time soon, at least not that stable that it might be merged into core... That's it...

[2017-06-28 21:34] cleverdevil commented on #29
The best way to get things into core is to get users. The best way to get users is to improve the user experience.

[2017-06-28 21:43] pfefferle commented on #29
@cleverdevil might be true, but not in the last case... The semantic linkback plugin is not nearly in a solid state and uses libs that breaks WordPress' PHP compatibility...

[2017-06-28 22:08] kraftbj commented on #29
A few ideas:

1. Auto-deactivate existing plugins when using the bundles that include the plugins now.
2. Coupled with 1, namespace the classes in the bundled plugin or
3. Only include the bundled plugins late (e.g. on the `plugins_loaded` hook) if the class doesn't exist (coupled with 1 or not). Kinda like pluggable.php in WP -- let individual plugins define the classes, but use the bundled ones

[2017-06-28 22:09] miklb commented on #29
I still stand by [my proposal yesterday](https://github.com/indieweb/wordpress-uf2/issues/29#issuecomment-311363720)

This would allow us to seize on some of the momentum coming out of IWS and continue the conversation of how to make the guided installer better, or, package the plugins into one consumer/gen2+ specific plugin. Seems the discussion in #30 and interoperability needs further fleshing

[2017-06-28 22:20] kraftbj commented on #30
Maybe I have a gap in understanding. Why would anyone install a microformat plugin when using a theme that already provides microformats? Would it be easier, in your case, to have SemPress throw an admin notice to let folks know that "Looks like you're using this theme at the same time as XYZ plugin, which duplicates our functionality. For best results, please deactivate XYZ plugin"?

Another alte

[2017-06-28 22:26] miklb commented on #30
@kraftbj this plugin **just** was added to the IW community repo and updated, so there wasn't a focus on it. Now a theme could use this plugin to handle the heavy lifting for adding things like `h-entry` to post classes for instance, then build in deeper mf2 support. At least that's how I understand it. We are only talking about a handful of themes that do mf2 at this point afaik.

That's why I th

[2017-06-28 22:29] pfefferle commented on #30
@kraftbj now we are speaking the same language :)

It might be possible that SemPress and the wp-uf2 plugin might be installed at the same time, because of a possible future IndieWeb plugin bundle...

That is what I try to propose at the top of the conversation ;)

First step:

* Define a unique set of microformats2 features for themes
* Plugins should disable the rendering a theme already support

[2017-06-28 22:32] pfefferle commented on #29
Perhaps I am really not the right one to lead the discussion... I think it's worse a try... I am curious about the V2...

@miklb sure, but I would start a new issue at the IndieWeb plugin and I would reference this discussion.

[2017-06-28 22:35] miklb commented on #29
@pfefferle  v2 would roughly mean that the IW plugin is **just** a guided installer and introduction to IndieWeb and WordPress. Any functionality is moved to mf2 plugin. We could get input from some UX designers on the wizard/guided installer. I'll flesh that out and make a new issue later this evening.

[2017-06-28 22:39] kraftbj commented on #30
Alright, hmm, What about:

1. A common function check between the bundle and your theme is set, in lieu of extending `has_theme_support` _for now_. Long-term, use `has_theme_support`
2. Plugins load before themes, so the plugin has a `check_theme_support` function
3. `check_theme_support` looks for a filter -- `indieweb_has_mf2_support`. It defaults to false.
4. The theme add_filter `indieweb_has_

[2017-06-28 22:44] pfefferle commented on #30
But we have to be more specific:

* https://github.com/pfefferle/SemPress/issues/51
* https://github.com/pfefferle/SemPress/issues/51#issuecomment-303132817

[2017-06-29 20:24] kraftbj commented on #30
Maybe some system like the following pseudocode:

[code]

The plugin would then just check for `has_theme_support( 'photo' );` before outputting those particular tags and the theme author can add selective or absolute indicators of what it will handle, etc.

[2017-06-29 20:56] pfefferle commented on #30
...and the function should be implemented by the theme?

[2017-06-29 21:40] kraftbj commented on #30
The theme could just add a `add_filter('mf2-no-plugin-rendering', '__return_true' );`. The uf2 plugin adds the filter and adds the `has_theme_support` (needs a better name) checks before outputting.

Likewise, the plugin can also check for the `mf2-no-plugin-rendering` filter early and return out before doing anything at all.

[2017-06-29 21:42] pfefferle commented on #30
why not a more granular add_theme_support? https://github.com/pfefferle/SemPress/blob/master/sempress/functions.php#L102

[2017-06-29 21:50] kraftbj commented on #30
Same thing really. I thought the issue was needing more specificity, `add_theme_support` I don't think allow for multiple declarations (e.g. `add_theme_support('something', array(...);` followed by another one later with different values in the array... I could be wrong on that.

With the idea above, your theme could kill all processing from anywhere as well as another plugin could say that it is

[2017-06-29 22:13] pfefferle commented on #30
My intention was to kill all plugin processing if the theme already supports this type of rendering.

`add_theme_support( 'microformats2' , array( 'author', 'mf2_photo' ) );` should tell all plugins that the theme supports author-markup and that it can render the 'mf2_photo' for example... so plugins should skip rendering for these two features.

I don't like the `add_filter('mf2-no-plugin-renderi

[2017-06-29 22:17] miklb commented on #30
I can't speak to how it fits core philosophy, but from someone who would be a consumer of that filter, it makes sense.

[2017-06-29 22:25] pfefferle commented on #30
It makes sense for you that a bunch of plugins have to init the exact same filter and one single theme is setting it?

I think this might cause some serious race condition problems!

[2017-06-29 22:30] kraftbj commented on #30
Trying to give theme authors a master kill switch. It was an afterthought to avoid a theme author needing to declare everything if they wanted total control...trying to meet you in the middle on our philosophical divide on if the theme should be the end-all of markup :)

Right, but if there's another plugin that extends upon wordpress-uf2, it can't redeclare `add_theme_support` afaik if it needs t

[2017-06-29 22:37] miklb commented on #30
Well, when you put it that way, no 😄

I'd guess there would be priority on the filter, which would help, I think @snarfed said he'd want micropub to only output if no other plugin was using the data for instance.

I was looking as a consumer of the code `add_filter( 'mf2-features', array( 'author', 'mf2_photo' ) );` in that it makes sense when I read that filter.

[2017-06-29 22:45] pfefferle commented on #30
I am not sure we are talking about the same things (sorry I am German) ;)

With the add_theme_support I, as a theme developer, want to have a way to disable some renderings of plugins! The add_theme_support should not be extended or changed by any plugin and it should not be a global registry where plugins should hook in, to register themselves for a specific use case. If two or more plugins are f

[2017-06-29 22:48] pfefferle commented on #30
Ok, perhaps it makes sense to try to have a generic way also for plugins, put I am not sure if we should mix both.

[2017-06-29 22:54] pfefferle commented on #30
@kraftbj who should provide the apply_filter wrapper? And don't forget that the content is not the only place where data is changed.

[2017-06-30 18:18] #29 closed

[2017-06-30 21:19] kraftbj commented on #30
I apologize for the delay. Headed out of town for a vacation next week so trying to get everything at work packaged up. I meant to draw a diagram of how this all fits together. If I'm not making sense after this comment, I'll do that for when I'm back :)

The indieweb/wordpress-uf2 plugin (wherever, the "plugin"):
1. Has the `has_mf2_support` function I psuedo-coded above wrapped in a `function_ex

[2017-07-03 21:59] pfefferle commented on #30
I would prefer a solution that can be implemented without relying on a third party plugin! If someone have not installed the `wp-uf2` plugin, the whole functionality will not work. And until we have no IndieWeb plugin bundle, we could not control this case.

[2017-07-03 22:32] miklb commented on #30
As a follow up, per a conversation in #indieweb-wordpress with pfefferle:

I hadn't caught that in the thread, and think it helps clarify the discussion.

I thought the idea was to move to the mf2 plugin playing a larger role in the ecosystem, and with the ability to have themes "turn off" certain features, there would be encouragement to run it along side a microformats2 theme.

[2017-07-04 22:39] kraftbj commented on #30
I don't understand the comment about the third-party plugin. This solution would mean the theme would 100% work stand alone OR alongside any plugin that uses this framework. I mean, sure, use theme-supports instead. Same idea just most limited with less flexibility.

If any plugin wanted to go along with this idea, it can include the same function wrapped in a function_exists call to avoid double-

[2017-07-04 22:40] kraftbj commented on #30
When I'm back from vacation, I'll put together a basic suite showing the interaction in code.

[2017-07-05 00:15] snarfed commented on #30
thanks so much for talking and working through this, everyone! sounds like you may actually all be agreeing on the same general idea, and disagreeing at most on terminology and semantics. good sign!

you're all closer to wordpress than i am, so i trust you and i'll happily follow (in the micropub plugin) whatever you all settle on. especially hoping it satisfies these three goals of mine, but even

[2017-07-20 18:19] devilgate opened #31 "Plugin causes spurious HTML to be visible"
With the Microformats 2 plugin active on a self-hosted WordPress instance using the Minnow theme, HTML is visible around the author name on every post.

I haven't tested it with any other themes.

The attached screenshot shows the issue.

![screen shot 2017-07-20 at 19 18 11](https://user-images.githubusercontent.com/4842280/28432580-4ca6c76e-6d80-11e7-8ae5-d6374428aaf5.png)

[2017-07-23 08:39] pfefferle commented on #31
thanks for reporting this issue, but this is heavily theme dependent. some themes are escaping data like the author name and that's why you see the html. i am not sure if it is possible to "fix" this behavior.

[2017-07-23 14:30] snarfed commented on #30
checking back in here. is there a conclusion on the common design we all want to implement in our plugins and themes? i'm ready to implement it in the micropub plugin!

[2017-08-05 02:53] snarfed commented on #30
friendly ping!

[2017-08-06 06:16] pfefferle commented on #30
Sorry, but I off for vacation for the next two weeks...

[2017-08-06 06:57] snarfed commented on #30
no worries at all. enjoy!

[2017-08-24 17:02] snarfed commented on #30
friendly nudge! @dshanske @kraftbj @miklb @pfefferle do we have a conclusion here on a design we all agree on yet?

[2017-08-24 17:35] pfefferle commented on #30
not that I know...

[2017-12-18 01:36] dshanske opened #32 "Add Self Check Functionality"
What if we built a simple version of Indiewebify.me into this plugin?

[2017-12-18 01:49] miklb commented on #32
why this plugin and not the core WP IW plugin out of curiosity?

[2017-12-18 03:03] dshanske commented on #32
No particular reason. Either way

[2017-12-23 17:06] dshanske commented on #30
It just occurred to me. If we want to surface this to a user, that means shouldn't we be using the options table? It is a user option.

So, in the event an option isn't set, there are now 2 ways to set the default.

1. The old way: get_option - https://developer.wordpress.org/reference/functions/get_option/
2. The new way: register_setting - https://developer.wordpress.org/reference/functions/regi

[2017-12-23 21:36] miklb commented on #30
Just so I understand:

I write a theme and I set an option saying "This theme handles all mf2 output."

Someone installs and activates this plugin (wordpress uf2). They get an admin notice telling theme "hey your theme is already configured to output mf2 data, you do not need to activate this plugin."

User then activates hot new IndieWeb plugin. Hot new plugin sees that the theme is handling outp

[2017-12-23 22:48] dshanske commented on #30
All really good points. So...
1. The option is that the theme supports microformats2. One would assume that themes that care would, over time, set themselves up with specific properties they support in the same option. But initially, shouldn't the assumption be, without any other data, they know what to do?
1. User activates new plugin, and I wouldn't say the new plugin couldn't, on activation, su

[2017-12-24 03:50] miklb commented on #30
I guess from a theme maker standpoint, as long the plugins have a way for the theme to override a plugin output, default to outputting by the plugin would make sense. So if Hot New plugin displays something my theme doesn't, in a future theme update I could override the plugin and display it differently if necessary.

[2018-01-08 21:20] snarfed commented on #30
woo! [we all met today](https://chat.indieweb.org/wordpress/2018-01-08#t1515434882982000) and agreed to try out this proposal: https://github.com/indieweb/wordpress-uf2/issues/30#issuecomment-312375228 . i'll do a first pass at it in the micropub plugin, and send the PR to you all for review.

we also discussed the broader plan for indieweb wordpress plugins and themes in general. we settled on do

[2018-04-22 13:05] dshanske opened #35 "Add Settings Page"
Page would allow selectively turn off filters and would explain functionality.

[2018-04-22 13:05] dshanske opened #36 "Add Settings Page"
Page would allow selectively turn off filters and would explain functionality.

[2018-04-22 13:05] #36 closed

[2018-04-24 09:06] dshanske commented on #35
Resolved via #37

[2018-04-24 09:06] #35 closed

[2018-04-24 09:07] dshanske commented on #31
Resolved via #37 with setting to disable

[2018-04-24 09:07] #31 closed

[2018-07-04 21:21] pfefferle commented on #16
Just read about the plan to move all microformats parsers to the microformats repo... does it still make no sense to move this plugin too?

[2018-07-11 11:08] pfefferle opened #38 "Temporary change theme for Webmention request"
What about bundling a microformatted default barebone theme (no style, just POSH) and use this theme if the request useragent is `/.*webmention.*/`?

[2018-07-11 11:20] dshanske commented on #38
Does everyone use this in their user agent?

[2018-07-23 18:34] pfefferle commented on #38
From the spec:

[2018-07-23 18:37] pfefferle commented on #38
@aaronok @indieweb/wordpress what do you think?

[2018-07-23 19:49] snarfed commented on #38
hrm, i'm not sure. sounds like this would have most of the problems we've documented in https://indieweb.org/sidefile-antipattern . i imagine you'll end up with different content in this special theme, and that will diverge from the user-visible theme even more over time. not to mention you then have twice the maintenance work since there are two themes instead of one.

[2018-07-24 00:59] aaronpk commented on #38
Sounds kind of like doing content negotiation to return a different document for a specific request. I'm not a huge fan of requiring content negotiation but it seems that would be a better approach than this theme switching, since at least there are existing defined behaviors for it. Theme switching seems like it'd be full of problems like if there is a cache plugin or if it's behind a caching cdn

[2018-07-24 07:31] pfefferle commented on #38
@aaronpk for example a jf2 feed as fallback if theme does not support mf2?

Like: `Accept: text/html, application/jf2feed+json`

[2018-07-24 13:50] aaronpk commented on #38
Yeah exactly, that way the client can tell the server what formats it can handle, so the server can decide to return a jf2feed (or maybe just the microformats json?) instead. This should also work behind caching proxies since they should take the Accept header into account.

Just to be clear, I'm not sold on this idea to begin with, but I would hate to see a super non-standard way of doing it.

[2018-07-24 14:59] pfefferle commented on #38
I already started an experimental plugin over a year ago https://github.com/pfefferle/wordpress-uf2-feed

But I got your point, perhaps we can start a brainstorming page in the wiki...

[2018-08-11 07:00] pfefferle commented on #38
* Further discussions: https://chat.indieweb.org/dev/2018-07-29#t1532903257177900
* The Wiki Page: https://indieweb.org/rel-alternate
* A first draft implementation: https://github.com/indieweb/wordpress-mf2-feed

[2018-08-11 07:01] #38 closed

[2018-08-20 21:44] miklb commented on #14
is this a valid discussion? Seems we use h-entry and parsers are picking it up.

[2018-08-20 21:48] miklb opened #40 "Missing publish date"
Via @aaronpk https://chat.indieweb.org/wordpress/2018-08-20#t1534793137673600

testing against core twentysixteen theme with #39 active and a `h-card` on the `h-feed`

[2018-08-20 22:02] pfefferle commented on #14
The parsers had issues with microformats1 and microformats2 on different elements, if backwards compatibility was enabled... not sure if this changed...

[2018-08-20 22:03] miklb commented on #14
it hasn't been brought up in viewing my current site running 2016 & uf2 plugin is why I ask.

[2018-08-20 22:08] pfefferle commented on #14
it is only a problem if theme authors use hentry for styling

[2018-08-20 22:09] pfefferle commented on #14
this seems to be the same issue: https://github.com/indieweb/wordpress-uf2/issues/17

[2018-08-20 22:12] miklb commented on #14
The question is, a lot of these discussions are over a year old, some started 3 years ago. I am basing feedback on current parsers in a real world environment. As to a theme using a styling hook, I didn't think we were removing `hentry` only adding `h-entry` am I mistaken?

[2018-08-20 22:13] pfefferle commented on #14
Yes, I remove hentry from the post-class and add it to the body-class

[2018-08-20 22:16] miklb commented on #14
you might in your themes but not in this plugin. I'm looking at my home page right now and the `article` has `hentry` and `h-entry`

[2018-08-20 22:21] pfefferle commented on #14
This is only on single pages

[2018-08-20 22:45] pfefferle commented on #14
We also have another problem... This https://github.com/indieweb/wordpress-uf2/blob/master/includes/class-uf2-post.php#L53 sets the hfeed to the body class, but hfeed also hardcoded in the HTML source, so we currently habe 2 `hfeed`s and 1 `h-feed` on the archive pages.

[2018-09-12 17:51] jodumont opened #41 "wrong rendering for span p-author"
After activating the last version (1.1.0) of your plugin on WordPress 4.9.8 with [understrap theme](https://github.com/understrap/understrap)
my meta entry become : ` Posted on September 12, 2018 by <span class='p-author h-card'>Author</span> `
instead of : ` Posted on September 12, 2018 by Author`
for fun I look into the code and I think the error is [here](https://github.com/indieweb/wordpress-u

[2018-09-13 07:55] pfefferle commented on #41
This is a problem if themes escape the output... the problem is not the code you referenced, but here: https://github.com/indieweb/wordpress-uf2/blob/66fef5f6236cc52446f5fe9fd8b70eae471842fb/includes/class-uf2-author.php#L20

I am working on a different solution, that should solve the problem in the future: https://github.com/indieweb/wordpress-mf2-feed

For now I would recommend to diable the plu

[2018-09-13 15:32] pfefferle commented on #41
@miklb feel free to take over the plugin.

[2018-09-13 16:05] miklb commented on #41
I’ve already forked it.

Cheers,

Michael
On Sep 13, 2018, 11:33 -0400, Matthias Pfefferle <notifications@github.com>, wrote:

[2018-09-13 16:32] pfefferle commented on #41
Why not taking over this plugin? You have admin rights and you can release new versions by simply tagging a current state. Or what is the reason to give a thumb down on my comment?

[2018-09-13 16:43] miklb commented on #41
I’m leaving the IndieWeb WP GH group. I don’t want to be part of the GitHub org.

[2018-10-10 15:08] miklb commented on #41
I haven't been able to revisit my fork lately https://github.com/miklb/wordpress-uf2 but if you can open the issue there I will compare against the changes I've made there.

[2018-10-10 15:14] jodumont commented on #41
@miklb sorry I don't understand; we are discussing under an open issue ?

[2018-10-10 15:15] miklb commented on #41
No. I believe this repo has been deprecated but I am still working on a fork & have some changes in it already. If you want to follow up there I can take a look in a day or two.

[2018-10-11 07:13] jodumont commented on #41
@miklb thank to following with me and trying to help me, but I'm sorry; I think I miss understood you where I should follow, because on [your repo](https://github.com/miklb/wordpress-uf2) the issues features is not activated.

+ as you probably could tell I'm not a wordpress dev
but I compare SemPress and understrap (my theme) than this is the big difference I could tell might make the escaping

#

[2018-10-11 07:31] jodumont commented on #41
FYI: this issue also appear with the **Independent Publisher theme** if you enable **Multi-Author Mode Option**

[2019-12-27 22:07] tw2113 commented on #16
To make sure i'm making sense, this is regarding moving the plugin to https://github.com/microformats/ ownership?

[2019-12-27 23:26] dshanske commented on #16
Yes

[2021-03-02 22:33] dshanske opened #43 "Author span in feeds"
The span in RSS feeds appears to be escaped

[2022-01-30 07:55] #16 closed